{% extends "base.html" %}
{% load markup %}

{% block title %}{{ other_user.first_name }} {{ other_user.last_name }}{% endblock %}

{% block content %}
<h2>{{ other_user.first_name }} {{ other_user.last_name }}</h2>
<p>
{% if invited %}
    Awaiting invite confirmation
{% else %}
{% if user != other_user and user not in other_user.get_profile.friends.all %}
    <a href="{% url shade.social.views.invite other_user.get_profile.url %}">Add {{ other_user.first_name }} to friends</a>
{% endif %}{% endif %}
</p>

{% if user == other_user or user in other_user.get_profile.friends.all %}
{% if other_user.get_profile.profile_picture %}
    <p><img src="{{ other_user.get_profile.profile_picture.image.url }}" height="150" width="200"></p>
{% endif %}

<p><a href="{% url shade.social.views.albums other_user.get_profile.url %}">{{ other_user.first_name }}'s Pictures</a></p>
<h3>Information</h3>
<p>
    <b>Gender:</b> {{ other_user.get_profile.gender }}<br/>
    <b>Age:</b> {{ age }} - <b>Born:</b> {{other_user.get_profile.birthdate }}<br/>
    <b>Hometown:</b> {{ other_user.get_profile.hometown }}, {{ other_user.get_profile.home_state }} {{ other_user.get_profile.home_country }}<br />
    <b>Current Location:</b> {{ other_user.get_profile.current_town }}, {{ other_user.get_profile.current_state }} {{ other_user.get_profile.current_country }}<br />
</p>
<h3>Bio</h3>
<p>{{ other_user.get_profile.bio|markdown }}</p>
{% endif %}
<h3>Comments</h3>
{% if form %}
    <form id="comment" method="post" action="{% url shade.social.views.post_comment other_user.get_profile.url %}">
        {% csrf_token %}
        {% include "base_form.html" %}
        <input type="submit" value="Submit">
    </form>
{% endif %}
<br/>

{% for c in other_user.get_profile.comments.all %}
    {% if c.public or user == other_user or user in other_user.get_profile.friends.all %}
        {% include "profile/comment.html" %}
    {% endif %}
{% endfor %}
{% endblock %}

