{% extends "base.html" %}

{% block title %}Image{% endblock %}

{% block content %}
{% if user == other_user %}
    <div id="nav">
        <ul>
            <li><a href="{% url shade.social.views.set_profile_pic user.get_profile.url img.id %}">Set as profile picture</a></li>
            <li><a href="{% url shade.social.views.delete_img user.get_profile.url img.id %}">Delete</a></li>
        </ul>
    </div>
{% endif %}
<p><img src="{{ img.image.url }}"><p>
<p>{{ img.caption }}</p>
{% endblock %}

