{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8">

		{% if next %}
			{% if user.is_authenticated %}
				<p>Your account doesn't have access to this page. To proceed,
					please login with an account that has access.</p>
			{% else %}
				<p>Please login to see this page.</p>
			{% endif %}
		{% endif %}

		<form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="form-horizontal">
			{% csrf_token %}
			{% include 'base_form.html' %}
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<button type="submit" class="btn btn-default">Submit</button>
					<input type="hidden" name="next" value="{{ next }}" />
					<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
				</div>
			</div>
		</form>
		<a class="btn btn-primary" href="{% url 'register' %}">Register</a>
	</div>
</div>
{% endblock %}