{% extends "base.html" %}
{% load django_markdown %}

{% block title %}{{ msg.subject }}{% endblock %}

{% block content %}
{% include 'messages/msg_nav.html' %}

	<div>
		<a class="btn btn-primary" href="{% url 'msg_reply' msg.id %}">Reply</a>
		<a class="btn btn-default" href="{% url 'msg_delete' msg.id %}">Delete</a>
	</div>
	<div>
		<div class="page-header">
			<h1>{{ msg.subject }}</h1>
		</div>
		<div>
			<b>From:</b> <a href="{% url 'profile' msg.author.userprofile.url %}">{{ msg.author.get_full_name }}</a><br/>
			<b>Sent:</b> {{ msg.sent }}</p>
			<blockquote>{{ msg.body|markdown }}</blockquote>
		</div>
	</div>
{% endblock %}

