{% extends "base.html" %}
{% load markup %}

{% block title %}{{ msg.subject }}{% endblock %}

{% block content %}
<p>
<div id="nav">
    <ul>
        <li><a href="{% url shade.social.messaging.inbox %}">Inbox</a></li>
        <li><a href="{% url shade.social.messaging.msg_compose msg.id %}">Reply</a></li>
        <li><a href="{% url shade.social.messaging.msg_delete msg.id %}">Delete</a></li>
    </ul>
</div>
<br/>
<p><b>{{ msg.subject }}</b><br/>
From: {{ msg.author.get_full_name }}<br/>
Sent: {{ msg.sent }}</p>
<blockquote>{{ msg.body|markdown }}</blockquote>
{% endblock %}

