{% extends "base.html" %}

{% block title %}{{ album.name }}{% endblock %}

{% block content %}
<h1>{{ album.name }}</h1>
{% if user == other_user %}
    <div id="nav">
        <ul>
            <li><a href="{% url shade.social.images.upload_img album.id %}">Upload Image</a></li>
        </ul>
    </div>
{% endif %}

<p>
{% for p in album.pictures.all %}
    <a href="{% url shade.social.images.view_img other_user.userprofile.url p.id %}"><img src="{{ p.image.url }}" height="150" width="200"></a>
{% empty %}
    Album empty.
{% endfor %}
</p>
{% endblock %}

