{% extends "base.html" %}

{% block title %}{{ other_user.first_name }}'s Albums{% endblock %}

{% block content %}
<h1>Albums</h1>
{% if other_user == user %}
    <div id="nav">
        <ul>
            <li><a href="{% url shade.social.images.create_album user.userprofile.url %}">Create Album</a></li>
        </ul>
    </div>
{% endif %}
{% for a in other_user.userprofile.albums.all %}
    <p><a href="{% url shade.social.images.album other_user.userprofile.url a.id %}">{{ a.name }}</a></p>
{% empty %}
    <p>No albums</p>
{% endfor %}
{% endblock %}

