{% load django_markdown %}
<div class="comment" id="{{ c.id }}">
    {{ c.post|markdown }}<br/>
    {{ c.author.get_full_name }} on {{ c.sent }}
    {% for s in c.subcomments.all %}
    <div class="subcomment">
        {{ s.post|markdown }}<br/>
        {{ s.author.get_full_name }} on {{ s.sent }}
    </div>
    {% endfor %}
    <br/>
    <a href="javascript:showSubcommentForm('{{ c.id }}', '{{ other_user.userprofile.url }}')">Reply</a>
    {% if c in user.userprofile.comments.all or user == c.author %}
        <a href="{% url 'comment_delete' user.userprofile.url c.id %}">Delete</a>
    {% endif %}
</div>
