{% load django_markdown %}

<div class="panel panel-default" id="{{ c.id }}">
    <div class="panel-body">
        <p>{{ c.post|markdown }}</p>
        <p>{{ c.author.get_full_name }} on {{ c.sent }}</p>
        {% for s in c.subcomments.all %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>{{ s.post|markdown }}</p>
                    <p>{{ s.author.get_full_name }} on {{ s.sent }}</p>
                </div>
            </div>
        {% endfor %}
        <a class="btn btn-primary btn-sm" href="javascript:showSubcommentForm('{{ c.id }}', '{{ c.author.userprofile.url }}')">Reply</a>
        {% if c in user.userprofile.comments.all or user == c.author %}
            <a class="btn btn-default btn-sm" href="{% url 'comment_delete' c.id %}">Delete</a>
        {% endif %}
    </div>
</div>
