{% extends "base.html" %}
{% load markup %}

{% block title %}Image{% endblock %}

{% block content %}
{% if user == other_user %}
    <div id="nav">
        <ul>
            <li><a href="{% url shade.social.images.set_profile_pic user.userprofile.url img.id %}">Set as profile picture</a></li>
            <li><a href="{% url shade.social.images.delete_img user.userprofile.url img.id %}">Delete</a></li>
        </ul>
    </div>
{% endif %}
<p><img src="{{ img.image.url }}"><p>
<p>{{ img.caption }}</p>
<form id="comment" method="post" action="{% url shade.social.images.comment_img other_user.userprofile.url img.id %}">
    {% csrf_token %}
    {% include "base_form.html" %}
    <input type="submit" value="Submit">
</form>
{% for c in img.comments.all %}
    <div class="comment" id="{{ c.id }}">
        <p>
        {{ c.post|markdown }}<br/>
        {{ c.author.get_full_name }} on {{ c.sent }}
        </p>
    </div>
{% endfor %}
{% endblock %}

