{% extends "base.html" %}

{% block title %}Manage Friends{% endblock %}

{% block extra_head %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#sortable").sortable({
            placeholder: "ui-state-highlight",
            update: function() {
                var order = $(this).sortable('serialize');
                $.ajax({
                    type: "POST",
                    data: order,
                    url: "/settings/friends/group/set_order/"
                });
            }
        });
        $("#sortable").disableSelection();
    });
</script>
{% endblock %}

{% block content %}
<h2>Groups</h2>
<p>
    <a href="{% url shade.social.views.new_group %}">Create new group</a><br/>
    <br/>
    <ul id="sortable">
    {% for g in user.get_profile.groups.all %}
        <li class="ui-state-default" id="group_{{ g.id }}"><a href="{% url shade.social.views.edit_group g.id %}">{{ g.name }}</a></li>
    {% endfor %}
    </ul>
</p>
<h2>Friends</h1>
<p>
{% for f in user.get_profile.friends.all %}
    <a href="{% url shade.social.views.manage_friend f.id %}">{{ f.get_full_name }}</a><br/>
{% empty %}
    You don't have any friends yet.
{% endfor %}
</p>
{% endblock %}

