{% load staticfiles %}

{% block html_declare %}
<!DOCTYPE html>
<html> 
{% endblock %}
    <head>
        <title>{% block title %}{% endblock %} | Shade</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <!--<link type="text/css" rel="stylesheet" href="{% static 'css/shade.css' %}" />-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
        <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>
        <script src="{% static 'js/react/react.min.js' %}"></script>
        <script src="{% static 'js/react/react-dom.min.js' %}"></script>
        <script src="{% static 'js/marked.min.js' %}"></script>
        <script src="{% static 'js/browser.min.js' %}"></script>
        <script src="{% static 'js/shade.js' %}"></script>
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        {% block extra_body %}
        {% endblock %}
        {% include 'navbar.html' %}
        <div class="container">
            <div class="col-md-8">
                <div class="row">
                    {% block content %}
                    {% endblock %}
                    {% block main_content %}
                    {% endblock %}
                </div>
            </div>
            {% include 'sidebar.html' %}
        </div>
    </body>
</html>

