{% extends "base.html" %}

{% block title %}Philosophy{% endblock %}

{% block content %}
<h2>Philosophy</h2>
<p>I decided to create Shade because of the many things I dislike about 
Facebook.  Mark Zuckerberg, the founder of Facebook, is in it to make 
money, and therefore has an incentive to sell users' information to 
advertisers.  Because of his goals to monetize Facebook, many 
aspects of Facebook are extremely user hostile.  For example, simply 
liking a page like Dr. Pepper, Taco Bell, or Walmart will force you to 
receive status updates from that page/organization.  I think users should 
be able to show off things they like without having their dashboard flooded 
with advertisements disguised as "status updates".
</p>
<p>
Shade will not support 3rd party applications.
</p>
<p>
Shade will never censor anything, and there will be no parental controls.  
If kids want to come here and post rude comments about each other, I really 
don't care.  If parents take offense to that, they can go bitch at 
someone else because I'm not going to pay attention to them; maybe they 
should take the initiative to monitor their kids themselves.  There will be 
privacy controls however.
</p>
<p>
Thanks
</p>
{% endblock %}

