{% extends "base.html" %}

{% block title %}My Dashboard{% endblock %}

{% block content %}
<p>Welcome {{ user.first_name }}</p>
<p>Profile URL: http://shade.casey-jones.org{% url shade.social.views.profile user.get_profile.url %}</p>
<h3>Friends</h3>
<p>
<a href="{% url shade.social.views.manage_friends %}">Manage Friends</a><br/>
{% for f in user.get_profile.friends.all %}
    <a href="{% url shade.social.views.profile f.get_profile.url %}">{{ f.get_profile }}</a>
    <br/>
{% endfor %}
<h3>Updates</h3>
<form method="post" action="{% url shade.social.views.post_comment user.get_profile.url %}">
    {% csrf_token %}
    {% include "base_form.html" %}
    <input type="submit" value="Submit">
</form>
{% for c in updates %}
    {% include "profile/comment.html" %}
{% endfor %}
</p>
{% endblock %}

