{% extends "base.html" %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
<p><h2>{{ event.title }}</h2></p>
<p><h3>Description</h3></p>
<p><b>Date:</b> {{ event.datetime }}</p>
<p>{{ event.description }}</p>

<p><h3>Attending</h3></p>
<p>
{% for u in event.attending.all %}
    <a href="{% url shade.social.views.profile u.get_profile.url %}">{{ u.get_full_name }}</a><br/>
{% endfor %}
</p>

<p><h3>Possibly Attending</h3></p>
<p>
{% for u in event.maybe.all %}
    <a href="{% url shade.social.views.profile u.get_profile.url %}">{{ u.get_full_name }}</a><br/>
{% endfor %}
</p>

<p><h3>Not Attending</h3></p>
<p>
{% for u in event.not_attending.all %}
    <a href="{% url shade.social.views.profile u.get_profile.url %}">{{ u.get_full_name }}</a><br/>
{% endfor %}
</p>

<p><h3>Awaiting Response</h3></p>
<p>
{% for u in event.awaiting.all %}
    <a href="{% url shade.social.views.profile u.get_profile.url %}">{{ u.get_full_name }}</a><br/>
{% endfor %}
</p>

{% if user == event.author and invitable %}
    <p><h3>Invite Friends</h3></p>
    <p>
    <form method="post" action="">
        {% csrf_token %}
        {% for f in invitable %}
            <input type="checkbox" name="invites" value="{{ f.id }}" />{{ f.get_full_name }}<br/>
        {% endfor %}
        <input type="submit" value="Submit" />
    </form>
    </p>
{% endif %}

{% endblock %}

